HELP.md
target/
backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
backend/.idea
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/usage.statistics.xml
.idea/shelf/
.idea/*_LOCAL.xml
.idea/dictionaries/
*.iws
*.iml
*.ipr
# Local env and secret files
backend/.env
backend/secrets/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
