version: "3.8"
services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: saffrondb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    depends_on:
      - db
    env_file:
      - .env
    secrets:
      - primary_superadmin_password
      - db_password
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: saffrondb
      DB_USERNAME: postgres
      SPRING_PROFILES_ACTIVE: default
    ports:
      - "8080:8080"
    restart: on-failure

volumes:
  postgres-data:
secrets:
  primary_superadmin_password:
    file: ./secrets/primary_superadmin_password
  db_password:
    file: ./secrets/db_password
